.bg{
	padding-top:100px;
	width:100%;
	height:400px;
	color:#fff;
	text-align: center;
	/* background: linear-gradient(to right,#180D39,#280C37,#4D2A3E); */
	background: linear-gradient(45deg, #020031 0%,#6d3353 100%);
}
.bg h1{
	font-size: 40px;
}
.bg p{
	font-size: 18px;
	font-weight: bold;
	margin-top:20px;
}
.container{
	/* border:1px solid red; */
}
.texin{
	text-indent: 2em;
}
.cen{
	padding:30px 0;
	line-height:30px;
	/* min-height:300px; */
}
