.bg{
	padding-top:80px;
	width:100%;
	height:300px;
	color:#fff;
	background: linear-gradient(to right,#180D39,#280C37,#4D2A3E);
}
.bg h1{
	font-size: 60px;
	font-weight:bold;
}
.bg p{
	font-size: 22px;
	margin-top:20px;
}
.cen{
	padding:30px 0;
}
.panel-heading .panel-title{
	font-size:35px;
}
