body{
	margin:0;
	background-size: 1440px 800px;
}
.cen{
	/* border:1px solid #ccc; */
	width:400px;
	height:400px;
	position: absolute;
	top:50%;
	left:50%;
	margin-left:-200px;
	margin-top:-200px;
}
h1{
	text-align: center;
	color:#535353;
}
.border_bg{
	background: #fff;
	width:400px;
	height:300px;
	margin-top: 38px;
}
.tit{
	background-color: #336699;
	width:100%;
	height:10px;
}
.tt{
	width:50%;
	text-align: center;
}
.tab-pane{
	padding:20px;
}