.post pre/*,.prettyprint,pre.prettyprint */{
    background-color: #272822;
    border: 1px solid #272822;
    overflow: hidden;
    padding: 8px;
    font-family: Monaco,Consolas,"Andale Mono","DejaVu Sans Mono",monospace; 
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    white-space:normal;
}
.post pre/*,.prettyprint.linenums,pre.prettyprint.linenums */{
    -webkit-box-shadow: inset 40px 0 0 #39382E, inset 41px 0 0 #464741;
    -moz-box-shadow: inset 40px 0 0 #39382E, inset 41px 0 0 #464741;
    box-shadow: inset 40px 0 0 #39382E, inset 41px 0 0 #464741;
}
.post pre ol/*,.prettyprint.linenums ol,pre.prettyprint.linenums ol*/ {
    margin: 0 0 0 35px; 
}
.post pre ol li/*,.prettyprint.linenums ol li,pre.prettyprint.linenums ol li*/ {
    padding-left: 10px;
    color: #bebec5;
    line-height: 24px;
    font-size: 14px;
    list-style: decimal;
    text-shadow: 0 1px 0 #000;
    margin-left: 0;
    list-style-type:decimal;
}
.prettyprint .com { color: #93a1a1; }
.prettyprint .lit { color: #195f91; }
.prettyprint .pun { color:#93a1a1; }
.prettyprint .opn { color: #93a1a1; }
.prettyprint .clo { color: #93a1a1; }
.prettyprint .fun { color: #dc322f; }
.prettyprint .str { color: #D14; }
.prettyprint .atv { color: #D14; }
.prettyprint .kwd { color: #1e347b; }
.prettyprint .tag { color: #1e347b; }
.prettyprint .typ { color: teal; }
.prettyprint .atn { color: teal; } 
.prettyprint .dec { color: teal; }
.prettyprint .var { color: teal; }
.prettyprint .pln { color: #48484c; }