.navbar{
	background-color: black;
	color: #fff;
}
.navbar-default .navbar-nav > li > a{
	color:#fff;
}
.navbar-default .navbar-nav > li > a:hover{
	color:#E1753A;
}
/* .navbar-default{
	border:none;
} */